.spin .percentage{
	-fx-fill: transparent;
}
.spin .arc{
	-fx-stroke: orange;
}

.jfx-button .jfx-rippler{
   -jfx-rippler-fill:transparent;
}
.jfx-button:hover{
	-fx-cursor: hand;
   -fx-text-fill:green;
}